@charset "utf-8";

* {
    font-family: "Ubuntu", sans-serif;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --verde-fondo: #0C1E11;
    --verde-claro: #256236;
    --verde-intermedio: #12311B;
    --amarillo: #F7A902;
    --amarillo-claro: #FCDD9A;
    --blanco: #FFF9F0;
}

body {
    display: flex;
    flex-direction: column;
    background: var(--verde-fondo);
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

section {
    width: 1080px;
    margin: 40px;
}

h1 {
    color: var(--amarillo);
    font-size: 4rem;
    font-style: medium;
    font-weight: 500;
    line-height: 5.2rem;
    text-align: center;
}

h2 {
    color: var(--blanco);
    font-size: 3rem;
    font-style: medium;
    font-weight: 500;
    line-height: 3.9rem;
    text-align: center;
}

h3 {
    color: var(--blanco);
    text-align: left;
    font-size: 2rem;
    font-style: medium;
    font-weight: 500;
    line-height: 2.6rem;
}

h4 {
    color: var(--blanco);
    font-size: 1.5rem;
    font-style: medium;
    font-weight: 500;
    line-height: 2rem;
    text-align: center;
}

p {
    text-wrap-style: balance;
    line-height: 1.5rem;
    font-size: 1rem;
    color: var(--blanco);
    text-wrap: pretty;
}

.bold {
    font-weight: bold;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--verde-claro);
    height: 90px;
    width: 100%;
}

header nav {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
}

.menu-header {
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu-header a {
    color: var(--blanco);
}

.button {
    display: flex;
    background-color: var(--amarillo);
    border: 1px solid var(--blanco);
    border-radius: 20px;
    padding: 10px 20px;
    transition: 0.3s;
    color: var(--verde-fondo);
    width: fit-content;
    height: 40px;
    font-weight: bold;
    align-items: center;
}

.button p {
    color: var(--verde-fondo);
}

/* Sección general */
.contenedor-section {
    display: flex;
    max-width: 1080px;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    margin: 40px;
}

/* Artículo El centro */
.elcentro {
    display: flex;
    align-items: center;
    border: 2px solid var(--amarillo);
    border-radius: 32px;
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    gap: 40px;
}

.elcentro img {
    border-radius: 25px;
}


/* Artículo Asociadas */
.asociadas {
    padding: 20px 30px;
    max-width: 1000px;
}

.asociadas h3 {
    margin-bottom: 10px;
}

.columnas {
    display: flex;
    column-gap: 40px;
}

.columnas p {
    width: 50%;
}

.asociadas p {
    margin-bottom: 15px;
}

/* Botón final */
.boton-outline {
    display: flex;
    border: 1px solid var(--amarillo);
    border-radius: 9999px;
    padding: 10px 20px;
    transition: 0.3s;
    gap: 8px;
    width: fit-content;
    height: 40px;
    align-items: center;
}

.boton-outline p {
    color: var(--amarillo);
}

/*miranos acá*/
#miranos {
    padding: 40px;
}

/* videos*/
.videos-izq,
.video-derecha video {
    border-radius: 10px;
}

.video-derecha {
    display: flex;
    flex-direction: column;
}

.contenedor-videos {
    display: flex;
    padding: 40px;
}

/*nos apoyan*/

.logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.logos img {
    max-width: 240px;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.logos img:hover {
    transform: scale(1.05);
}

.sponsors {
    padding: 40px;
    margin-bottom: 40px;
}

footer {
    background-color: var(--verde-claro);
    height: 120px;
    width: 100%;
    display: flex;
    padding: 39px 304px;
    align-items: center;
    gap: 48px;
}











































































/*hasta acá Marie*/

.contenedor-info-conimg {
    display: flex;
    justify-content: center;
    border: 2px solid var(--amarillo);
    border-radius: 32px;
    padding: 30px;
    width: 100%;
    gap: 30px;
}

.contenedor-info-conimg img {
    border-radius: 25px;
    width: 272px;
    height: 100%;
    object-fit: cover;
    display: block;
}

.texto h3 {
    margin-bottom: 0.5rem;
}

.texto p {
    margin-bottom: 0.5rem;
}

.texto p:last-child {
    margin-bottom: 0;
}

.acordeon {
    display: flex;
    justify-content: center;
    border: 2px solid var(--amarillo);
    border-radius: 32px;
    padding: 30px;
    width: 100%;
    gap: 30px;    
}

.acordeon img {
    width: 200px;
    height: 100%;
    border-radius: 15px;
}

.div-autor img {
    width: 16px;
    border-radius: 0;
}

.div-fechahora img {
    width: 16px;
    border-radius: 0;
}

.botones-con-info {
    display: flex;
    gap: 30px;
}

.contenedor-boton {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--amarillo);
    border-radius: 32px;
    padding: 30px;
    width: 100%;
    gap: 20px;
    text-align: center;
}

.contenedor-boton h3 {
    text-align: center;
}

.contenedor-historico {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
}

.card-historico {
    display: flex;
    flex-direction: column;
    background-color: var(--verde-intermedio);
    border: solid var(--verde-claro);
    border-radius: 32px;
    padding: 20px;
    color: var(--blanco);
    flex: 1;
    gap: 15px;
    width: 33%;
}

.card-historico img {
    border-radius: 25px;
}

.card-historico h4 {
    text-align: left;
}



















































































































/*Hasta acá Marcos*/









































































































/*hasta acá Juan*/

.carrusel {
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: 480px;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 1s ease;
    width: 100%;
}

.slides img {
    width: 100%;
    height: 480px;
    object-fit: cover;
    flex: 0 0 100%;
}

button.prev,
button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

/* Responsive */
@media (max-width: 750px) {
    .carrusel {
        height: 240px;
    }

    .slides img {
        height: 240px;
    }
}